In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("adult.csv")
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [3]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'educational-num',
       'marital-status', 'occupation', 'relationship', 'race', 'gender',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [4]:
df.describe()

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week
count,48842.000000,4.884200e+04,48842.000000,48842.000000,48842.000000,48842.000000
mean,38.643585,1.896641e+05,10.078089,1079.067626,87.502314,40.422382
std,13.710510,1.056040e+05,2.570973,7452.019058,403.004552,12.391444
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.175505e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.781445e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.376420e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000

In [5]:
df['education'].value_counts()

HS-grad         15784
Some-college    10878
Bachelors        8025
Masters          2657
Assoc-voc        2061
11th             1812
Assoc-acdm       1601
10th             1389
7th-8th           955
Prof-school       834
9th               756
12th              657
Doctorate         594
5th-6th           509
1st-4th           247
Preschool          83
Name: education, dtype: int64

In [6]:
df[['education','educational-num']].value_counts()

education     educational-num
HS-grad       9                  15784
Some-college  10                 10878
Bachelors     13                  8025
Masters       14                  2657
Assoc-voc     11                  2061
11th          7                   1812
Assoc-acdm    12                  1601
10th          6                   1389
7th-8th       4                    955
Prof-school   15                   834
9th           5                    756
12th          8                    657
Doctorate     16                   594
5th-6th       3                    509
1st-4th       2                    247
Preschool     1                     83
dtype: int64

In [7]:
df[['occupation','income']][df['income']=='>50K'].value_counts()

occupation         income
Exec-managerial    >50K      2908
Prof-specialty     >50K      2784
Sales              >50K      1475
Craft-repair       >50K      1383
Adm-clerical       >50K       768
Transport-moving   >50K       481
Tech-support       >50K       420
Machine-op-inspct  >50K       372
Protective-serv    >50K       308
?                  >50K       265
Other-service      >50K       204
Farming-fishing    >50K       173
Handlers-cleaners  >50K       138
Armed-Forces       >50K         5
Priv-house-serv    >50K         3
dtype: int64

In [8]:
x = df[['age','educational-num','hours-per-week']]
y= df[['income']]
y.income[y.income=='>50K']=1
y.income[y.income=='<=50K']=0
y.head()

c:\users\adam\appdata\local\programs\python\python39\lib\site-packages\pandas\core\series.py:992: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._where(~key, value, inplace=True)

  income
0      0
1      0
2      1
3      1
4      0

In [9]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=0)

from sklearn.linear_model import LinearRegression

reg= LinearRegression()

In [10]:
reg.fit(x_train,y_train)

LinearRegression()

In [11]:
y_pred = reg.predict(x_test)
y_pred[0][0]

0.36610104776311525

In [12]:
for i in range(0,len(y_pred)):
    if y_pred[i][0]>=0.5:
        y_pred[i][0]=1
    else:
        y_pred[i]=0
y_pred[0][0]

0.0

In [13]:
y_test=np.array(y_test)
y_test
s=0
f=0
for i in range(0,len(y_pred)-1): 
    if y_pred[i][0]==y_test[i][0]:
        s+=1
    else:
        f+=1
res = (s/(s+f))*100
print(res,"%")

78.37837837837837 %